
     

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">
              <h1>The Maya Forest Alliance</h1>
              <head><em>Exploring Solutions Past</em></head>
            </a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who We Are<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">President's Vision</a></li>
                    <li><a href="#">Board of Directors</a></li>
                    
                  </ul>
                </li>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Maya<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">The Ancient Maya</a></li>
                    <li><a href="#">Spanish Conquest</a></li>
                    <li><a href="#">The Maya Today</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maya Forest Gardens<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">What are Maya Forest Gardens</a></li>
                    <li><a href="#">The Milpa Cycle</a></li>
                    <li><a href="#">Meet Maya Forest Gardeners</a></li>
                    <li><a href="#">Forest Garden Educaiton</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Archaeology Under the Canopy</a></li>
                    <li><a href="#">Binational Peace Park Initiative</a></li>
                    <li><a href="#">Forest Garden Programs</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Donate Now</a></li>
                    <li><a href="#">Adventures/Trips</a></li>
                    <li><a href="#">Sister Gardens</a></li>
                    <li><a href="#">Become an Ambassador</a></li>
                    <li><a href="#">Special Events</a></li>
                  </ul>
                </li>
                <li><a href='#At Stake'>What is at Stake?</a><li>
                <li><a href='#News'>News/Articles</a><li>
                <li><a href="#contact">Contact</a></li>
                <div class="btn-group">
                  <button class="btn btn-success">Donate Now</button>
                </div>  
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

 
   
<style>
/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }
    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
</style>    
